<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= app_name %>">
    <meta name="mobile-web-app-capable" content="yes">

    <%= turbo_refresh_method_tag :morph %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fonts: Inter and JetBrains Mono -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= yield(:head) %>
  </head>

  <body class="antialiased h-screen flex flex-col overflow-hidden">
    <%= render partial: 'layouts/navbar' %>
    <%= render partial: 'layouts/alerts' %>

    <main id="app-container" class="flex-1 overflow-y-auto bg-gray-50/50 relative">
      <% if @full_page %>
        <%= yield %>
      <% else %>
        <div class="max-w-7xl mx-auto py-2.5 px-8">
          <%= yield %>
        </div>
      <% end %>
    </main>
    <%= turbo_frame_tag 'slideover' %>
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
